.bg{
    background-image: url(https://img.freepik.com/premium-vector/silhouette-people-working-data-center-room-hosting-server-computer-information-database_48369-15489.jpg?size=626&ext=jpg&ga=GA1.2.854487916.1684384303&semt=ais);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  
}